<% @tweets.each do |tweet| %>
  <div>
    <p><%= attachment_image_tag tweet, :image, :fill,100,100 ,fallback: "no_image.jpg" %></p>
    <p>ユーザーネーム：<%= tweet.user.name %></p>
    <p>ツイート：<%= tweet.tweet_text%></p>
    <p><%= link_to "削除", tweet_path(tweet), method: :delete %></p>
  </div>
<% end %>
