<div class="col-md-8 offset-md-1 mt-4">
  <h2>ユーザー一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>名前</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user_path(user.id) do %>
            <%= attachment_image_tag user, :profile_image, size: "40x40", fallback: "no_image.jpg", class: "rounded-circle" %></td>
            <% end %>
          </td>
          <td><%= link_to user_path(user.id) do %>
            <%= user.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
