<div class="container-fluid">
  <div class="row align-items-center" style="height:200px">
    <div class="col no-gutters col mt-5">
      <div class="col-8 mx-auto">
        <div style="background-color:rgba(255,255,255,0.50);">
          <h1 class="text-center mt-4">vtuber-fan-siteへようこそ</h1>
          <h3 class="text-center mt-4">このサイトはvtuberの配信やライブに関しての感想を言い合う場です。</h3>
          <h3 class="text-center">詳しい詳細は、サイト説明ページをご覧ください。</h3>
        </div>
      </div>
      <div class="btn-wrapper col-4 mx-auto">
        <div class="row mt-5">
          <%= link_to 'サイト説明',homes_about_path, class: "btn btn-danger btn-sm btn-block mb-3" %>
        </div>
        <div class="row mt-3">
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row mt-3">
          <%= link_to '新規登録',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>